<html>

<head>
    <title> tela de Login </title>

    <link rel="stylesheet"  href="../static/css/login.css">
</head>

<body>
    <div class="login">
        <form >
            <h1> Login</h1>
            <h3> E-mail</h3>
            <input type="text" name="email" placeholder="digite seu e-mail"></input><br>
            <h3> Senha</h3>
            <input type="text" name="senha" placeholder="digite sua senha"> </input><br><br>
            <button type="submit">Entrar </button><br>
        </form>
    </div>

</body>

</html>